<form method="post" class="login_section__form">
  <h1 class="login_section__title">Welcome to <span class="login_section__title_bold">UNIPOST</span> 👋</h1>
  <p class="login_section__description">
    We have been missing you. <br />
    Log in to continue your amazing posts!
  </p>
  <div class="login_section__inputs">
    <input name="login" type="text" placeholder="login" autofocus required />
    <input
      name="password"
      type="password"
      placeholder="password"
      autofocus
      required
    />
  </div>
  <button>Submit</button>
</form>
