<div class="login_section__form success_box">
  <h1 class="success_box__title">Not authorized ⚠️</h1>
  <p class="success_box__description">Your credentials did't match. <br> Check your login and password.</p>
  <form action="/auth">
    <button class="success_box__button">Try again</button>
  </form>
</div>
