<div class="login_section__form success_box">
  <h1 class="success_box__title">You are authorized 🎉</h1>
  <p class="success_box__description">
    Now you may continue to your account. <br />
    Have a wonderful day!
  </p>
  <a href="/posts">
    <button class="success_box__button">Let's go</button>
  </a>
</div>
