<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/form.styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Form</title>
  </head>
  <body>
    <main>
      <section class="login_section">
        <div class="login_section__form_container">
          <div class="login_section__inner_media">
            <% if (login_stage === 'initiate') { %> <%-
            include("elementAuth.ejs") %> %> <% } else if (login_stage ===
            'success') { %> <%- include("elementAuth_success.ejs") %> <% } else
            if (login_stage === 'failed') { %> <%-
            include("elementAuth_failed.ejs") %> <% } %>
          </div>
        </div>
        <div class="login_section__image_container">
          <div class="login_section__image"></div>
        </div>
      </section>
    </main>
  </body>
</html>
