<li class="list__item">
  <div class="list__item_header">
    <h2><%= post.title %></h2>
    <form action=<%=`/posts/${post.id}?_method=DELETE`%> method="POST">
      <button class="list__item_delete">X</button>
    </form>
  </div>
  <div class="list__item_time"><%= post.date %></div>
  <p><%= post.content %></p>
</li>
