name: CI

on:
  push:
    branches:
      - main  # or 'master' or your deployment branch

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: capitanslow/unipost:latest